syntax = "{{ syntax }}";

import "google/protobuf/descriptor.proto";
import "buf/validate/validate.proto";

extend google.protobuf.MessageOptions {
  string source = 50001;
}

{% if package %}
package {{ package }};

{% endif %}
{% for enum in enums %}
{% if enum.description %}
// {{ enum.description }}
{% endif %}
message {{ enum.name }} {
{% if enum.source %}
  option (source) = "{{ enum.source }}";

{% endif %}
  enum Enum {
    {{ enum.name | upper }}_UNSPECIFIED = 0;
{% for value in enum.enum_values %}
    {{ value.name }} = {{ value.number }};{% if value.description %}  // {{ value.description }}{% endif %}

{% endfor %}
  }
}

{% endfor %}
{% for message in messages %}
{% if message.description %}
// {{ message.description }}
{% endif %}
message {{ message.name }} {
{% if message.source %}
  option (source) = "{{ message.source }}";

{% endif %}
{% for field in message.fields %}
  {{ field.type }} {{ field.name }} = {{ field.number }}{% if field.validation_rules %} {{ field.validation_rules }}{% endif %};{% if field.description %}  // {{ field.description }}{% endif %}

{% endfor %}
}

{% endfor %}
{% if flatten_mode %}
message Message {
{% for field in flattened_fields %}
  {{ field.type }} {{ field.name }} = {{ field.number }}{% if field.validation_rules %} {{ field.validation_rules }}{% endif %};{% if field.description %}  // {{ field.description }}{% endif %}

{% endfor %}
}
{% endif %}
{% for union in unions %}
{% if union.description %}
// {{ union.description }}
{% endif %}
message {{ union.name }} {
{% if union.source %}
  option (source) = "{{ union.source }}";

{% endif %}
  oneof {{ union.name }} {
{% for member in union.members %}
    {{ member.type }} {{ member.name }} = {{ member.number }};
{% endfor %}
  }
}

{% endfor %}
